.preview-container, .show-preview-button {
  background-color: rgb(223, 223, 223);
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgb(126, 126, 126);
  margin: 3em 6em;
  padding: 2em 1em 3em;
  height: 28em;
  
  .show-preview-button {
    border-radius: 0.2em;
    padding: 0.3em 0.8em;
    transition: border 300ms ease;
    
    .preview-title {
      font-size: 1.7em;
      color: rgb(107, 107, 107);
    
      &.is-active {
        background: rgb(0, 0, 0) -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
        -webkit-background-size: 100px;
        background-size: 100px;
        color: rgba(255, 255, 255, 0.3);
        background-clip: text;
        animation: animate 2s infinite;
      }
    }
  }
}

@keyframes animate {
  0%, 10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}