@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@media screen and (min-width: 992px) {
  .App {
    margin: 0em 10em;
    background-color: rgb(238, 238, 238);
    box-shadow: 0em 0em 1em 0.05em rgb(133, 133, 133);
  }

  .container {
    justify-content: space-around;
  }
  
  .process-button, .download-button {
    width: 10em;
    height: 5em;
  }
  
  .input-field-label {
    width: 8.2em;
    height: 2.85em;
  }
  
  .checkbox-label, .processed-data-message {
    font-size: small;
  }

  p {
    font-size: x-large;
    margin: 2em 0em;
  }
}

* {
  margin: 0;
  font-family: "Noto Sans";
  font-size: medium;
  color: #333;
}

p {
  text-align: center;
}

.App {
  min-height: 100vh;
}

.preview-title {
  color: rgb(82, 82, 82);
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 223, 223);
  border: rgb(126, 126, 126);
  margin: 3em 6em;
  height: 24em;
  padding: 2em;
}

.table-content {
  height: inherit;
}

table {
  border-collapse: collapse;
  display: block;
  height: inherit;
  overflow: scroll;
  box-shadow: inset 0px -1px 5px 0px rgba(0, 0, 0, 0.3);
}

th, td {
  padding: 0 1em;
  height: 0.1em; /* cant use that */
}

table, td {
  border: 1px solid rgb(126, 126, 126);
}

table thead.sticky th {
  position: sticky;
  top: 0;
}

td {
  font-size: 0.8em;
}

th {
  background-color: #009879;
  color: aliceblue;
}

.tabs-toggler-panel {
  background-color: rgb(212, 212, 212);
  width: 100%;
}

.preview-button, th {
  font-size: 0.9em;
}

.preview-button {
  width: 5em;
  background-color: rgb(212, 212, 212);
  border-radius: 0.1em;
  border: none; /* hernya so stilem knopok*/
  border-right: solid 1px rgb(126, 126, 126);
  
}

.preview-button:last-of-type {
  border: none;
}

.preview-button.is-active {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid #009879;
  color: #008369;
  font-weight: bold;
} 

/* .preview-button:focus {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid #009879;
  color: #008369;
  font-weight: bold;
} */

.container {
  display: flex;
}

.file-field-and-checkbox, .input-field, .process-button, .download-button, .checkbox-container, span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-button, .download-button {
  padding: 1em 1em;
  border-radius: 0.3em;
  background-color: rgb(236, 236, 236);
  transition-duration: 0.4s;
  border: 2px dashed grey;
  transition: border 300ms ease;
}

.process-button:hover, .download-button:hover, .input-field-label:hover {
  border: 2px solid #000;
  cursor: pointer;
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label, .processed-data-message {
  margin-top: 1em;
  width: 13em;
  text-align: center;
}

.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#inputFile, .checkbox {
  opacity: 0;
  position: absolute;
}

#inputFile {
  visibility: hidden;
}

.input-field-label {
  padding: 0.95em 0.8em;
  border-radius: 0.3em;
  background-color: rgb(236, 236, 236);
  transition-duration: 0.4s;
  border: 2px dashed grey; 
  transition: border 300ms ease;
}

.checkbox {
  z-index: -1;
}

.checkbox+label {
  align-items: center;
  user-select: none;
}

.checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.button-content {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .container { 
    flex-direction: column;
    align-items: center;
  }
  
  .process-button, .download-button {
    width: 25em;
    height: 15em;
  }
  
  span {
    font-size: 2.8em;
  }
  
  .input-field-label {
    padding: 0.8em 0.8em;
    width: 23em;
    height: 13em;
  }
  
  .button-content {
    margin-top: 1em;
  }
  
  .checkbox-label, .processed-data-message {
    font-size: 2em;
  }
  
  p {
    font-size: 4em;
    margin: 1em 0em;
  }

  svg {
    width: 3em;
    height: 3em;
  }
}